{% extends "base.html.twig" %}

{% block body %}
<h1>{{ form_title }}</h1>
{{ form_start(form_user) }}
    <div class="input-field col s6">
    
    </div>
{{ form_end(form_user) }}
{% endblock %}